/* light */
[data-md-color-scheme="default"] {
	--md-primary-fg-color: #671893;
	--md-default-fg-color--light: #555;
	--md-typeset-color: #222;
}

/* dark */
[data-md-color-scheme="slate"] {
	--md-primary-fg-color: #671893;
	--md-default-fg-color--light: #aaa;
	--md-typeset-color: #eee;
}